# Ignore everything by default
*
!*/

# include directories
!.devcontainer/
!.devcontainer/**

# include files
!.gitignore
!config_loader.py
!data_loader.py
!.dockerignore
!Dockerfile
!main.py
!model.py
!model.toml
!README.model
!requirements.txt
